<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <link rel="stylesheet" href="/css/failure.css">
</head>
<body>
    

    <div class="container">
        <button type="submit" class="btn">Submit</button>
        <div class="popup">
            <img src="/images/donation/fail.jpg">
            <h2>FAILED!</h2>
            <p class="bolded">Your Payment has not been accepted.</p>
            <button type="button">TRY AGAIN</button>
        </div>
    </div>
</body>
</html>
