
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <img class="custom-img" src="/images/home/logo.png" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ss active" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link ss active" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link ss active"
                href="/browse-personal-campaign"
              >
                Browse Campaigns
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link ss active" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ss active" href="/#newsletter">Newsletter</a>
            </li>
          </ul>


            
            <% if (user) { %>
            <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Start a Project
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/prelaunch">Prelaunch</a></li>
                <li><a class="dropdown-item" href="/personal-campaign-editor">Personal Campaign</a></li>
                <li><a class="dropdown-item" href="/business-campaign-editor">Business Campaign</a></li>
              </ul>
            </li>
            <div>
              <li class="nav-item">
                <a class="nav-link ss active" href="/notification">
                  <%= user.name %>
                </a>
              </li>
            
            </div>
            <div >
             <li class="nav-item">
                <a class="nav-link ss" style="display:none" href="#"><%= user.email %></a>
              </li>
              
            </div>
            <form action="/auth/logout" method="post">
              <button class="nav-item nav-link ss active" type="submit">
                Logout
              </button>
            </form>
            <% } else { %>
             <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle "
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Start a Project
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Start a Prelaunch</a></li>
                <li><a class="dropdown-item" href="/login">Start a Campaign</a></li>
              </ul>
            </li>
            <a class="nav-item nav-link ss active" href="/login">Login</a>
            <a class="nav-item nav-link ss active" href="/register">Sign Up</a>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>