<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs', { title: 'Personal Campaign' , stylesheet: '/css/personal-campaign-editor.css' }) %>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"></script>

    <%- include('navbar.ejs', { user: user }) %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <form id="user" action="/file/submit-personal" method="post" enctype="multipart/form-data">
              <!-- //////////////////////////////BASICS////////////// -->
              <div class="">
                <hr />
                <p class="basicsss">Personal Campaign</p>

                <hr />
              </div>

              <p class="base">BASICS</p>
              <hr />
              <p class="para"></p>
              <div class="col-md-50 position-relative">
                <div class="col-md-07">
                  <!-- <label for="validationDefault04" class="form-label imp">Fundig Type</label> -->
                </div>
                <br />
                <div class="col-md-10 position-relative">
                  <label class="hed" for="campaignTitle">Campaign Title</label><label class="star hed">*</label>
                  <br />
                  <small id="campaignhelp" class="form-text text-muted">What is the title of your campaign?</small>
                  <br />
                  <input type="text" class="form-control" id="campaignTitle" name="title"
                    aria-describedby="campaignhelp" placeholder="My Campaign Title" required />
                </div>

                <div class="col-md-6">
                  <label for="validationDefault03" class="form-label hed">City</label>
                  <label class="star hed">*</label>
                  <input type="text" class="form-control" name="city" id="validationDefault03" required />
                </div>
                <div class="col-md-6">
                  <label for="validationDefault04" class="form-label hed">State</label><label class="star hed">*</label>
                  <select class="form-select" name="state" id="validationDefault04" required>
                    <option selected disabled value=""></option>
                    <option>Dhaka</option>
                    <option>Sylhet</option>
                    <option>Rajshahi</option>
                    <option>Khulna</option>
                    <option>Chittagong</option>
                    <option>Barishal</option>
                    <option>Mymenshing</option>
                  </select>
                </div>
                <br />
                <div class="col-md-6">
                  <label for="validationDefault04" class="form-label hed">Campaign Type</label><label
                    class="star hed">*</label>
                  <select class="form-select" name="type" id="validationDefault04" required>
                    <option selected disabled value=""></option>
                    <option>Business</option>
                    <option>Medical</option>
                    <option>Education</option>
                  </select>
                </div>
                <br />
                <div class="col-md-10">
                  <label class="hed" for="tagline">Tagline</label>
                  <input type="text" class="form-control" id="campaignTagline" name="tagline"
                    aria-describedby="campaignhelp" placeholder="Campaign Tagline" />
                </div>
                <br />
                <div class="col-md-6">
                  <label class="hed" for="description">Description</label><label class="star hed">*</label>
                  <textarea name="description" id="description" cols="50" rows="6" required></textarea>
                  <br />
                  <br />
                </div>
                <br />
                <div>
                  <label class="hed">Campaign Card Image</label><label class="star hed">*</label>
                  <br />
                  <label for="picture" class="subhed">Select Campaign Card:</label>
                  <br />
                  <small id="CampaignArea" class="form-text text-muted">Upload a square image that represents your
                    campaign. <br />
                    640 x 640 recommenderd resolution. 220 x 220 minimum
                    resolution.
                    <br />
                  </small>
                  <br />
                  <input type="file" id="picture" name="file1" accept="image/*" required />
                </div>

                <br />
                <div class="col-md-6">
                  <label class="hed" for="main_video_url">Video URL</label>
                  <br />
                  <input type="text" class="form-control" id="main_video_url" name="campaign_video"
                    placeholder="http://" />
                  <br />
                </div>
              </div>
              <h1 class="base">FEATURES</h1>
              <hr />
              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">Main Features</label><br>

                <small id="campaignhelp" class="form-text text-muted">What are the main features of your project or
                  campaign?</small>
                <br>
                <br>
                <textarea name="feature" id="feature" cols="50" rows="6"></textarea>
                <br>
                <br>
              </div>
              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">Main Feature Image</label><br>

                <small id="campaignhelp" class="form-text text-muted">Upload a square image that represents your
                  campaign.
                  <br>
                  640 x 640 recommended resolution. 220 x 220 minimum
                  resolution.
                  <br /></small>
                <br>
                <input type="file" id="picture" name="file2" accept="image/*" required />
                <br><br>
              </div>
              <br /><br />
              <p class="base">CAMPAIGN GOALS</p>
              <hr />
              <p><b>Fill out your campaign goals.</b></p>
              <div class="col-md-50 position-relative">
                <div class="col-md-40 position-relative">
                  <label class="hed" for="campaignTitle">Campaign Goal Amount</label><label
                    class="star hed">*</label><br />

                  <small id="campaignhelp" class="form-text text-muted">How much money would you like to raise for this
                    campaign? A
                    minimum goal of 500 in TK is required.</small>
                  <br />
                  <br />
                  <input type="number" class="form-control" name="goal_amount" id="campaignTitle"
                    aria-describedby="campaignhelp" placeholder="Tk" />
                  <br />
                </div>
                <br />

                <div class="col-md-10">
                  <label class="hed" for="campaignTitle">Campaign Goal Date</label><label
                    class="star hed">*</label><br />

                  <small id="campaignhelp" class="form-text text-muted">Give an estimated end-date of your campaign.
                    Minimum campaign
                    period is 1 week and maximum campaign period is 6
                    months.</small>
                  <br />
                  <br />
                  <input type="date" class="form-control" name="goal_date" id="campaignTitle"
                    aria-describedby="campaignhelp" />
                  <br /><br />
                </div>
                <br />
              </div>
              <br /><br />
              <p class="base">FUND INFORMATION</p>
              <hr />
              <p><b>Fill out your bank account information.</b></p>
              <div class="col-md-50 position-relative">
                <div class="col-md-10 position-relative">
                  <label class="hed" for="campaignTitle">BSB Number</label><label class="star hed">*</label>
                  <br />
                  <small id="campaignhelp" class="form-text text-muted">Enter the 6-digit BSB number that identifies
                    your
                    Bank.</small>
                  <br />
                  <input type="text" class="form-control" name="bsb" id="campaignTitle" aria-describedby="campaignhelp"
                    placeholder="000000" required />
                </div>
                <br />

                <div class="col-md-10">
                  <label for="validationDefault03" class="form-label hed">Account Number</label><label
                    class="star hed">*</label><br />
                  <small id="campaignhelp" class="form-text text-muted">
                    Enter the Account number where you want the funds deposited
                  </small>
                  <input type="text" class="form-control" name="account" id="validationDefault03"
                    placeholder="000000000" required />
                </div>
                <br />

                <div class="col-md-10">
                  <label for="validationDefault03" class="form-label hed">Bkash Account Number</label><br />
                  <small id="campaignhelp" class="form-text text-muted">
                    Enter the account number where you want the funds sent(Send
                    Money) using Bkash.
                  </small>
                  <input type="text" class="form-control" name="bkash" id="validationDefault03" placeholder="000000000"
                    required />
                </div>
                <br />
                <div class="col-md-10">
                  <label for="validationDefault03" class="form-label hed">Rocket Account Number</label><br />
                  <small id="campaignhelp" class="form-text text-muted">
                    Enter the Account number where you want the funds sent using
                    Rocket.
                  </small>
                  <input type="text" class="form-control" name="rocket" id="validationDefault03" placeholder="000000000"
                    required />
                </div>
                <br />
                <div class="col-md-10">
                  <label for="validationDefault03" class="form-label hed">Nagad Account Number</label><br />
                  <small id="campaignhelp" class="form-text text-muted">
                    Enter the Account number where you want the funds sent using
                    Nagad.
                  </small>
                  <input type="text" class="form-control" name="nagad" id="validationDefault03" placeholder="000000000"
                    required />
                </div>
                <br />
                <div class="col-md-10">
                  <label for="validationDefault03" class="form-label hed">Upay Account Number</label><br />
                  <small id="campaignhelp" class="form-text text-muted">
                    Enter the Account number where you want the funds sent using
                    Upay.
                  </small>
                  <input type="text" class="form-control" name="upay" id="validationDefault03" placeholder="000000000"
                    required />
                </div>
                <br />
              </div>
              <br /><br />

              <!-- ////////////////////////////////PERK//////////////////////////// -->
              <p class="base">PERK</p>
              <hr />
              <p>
                <b>Perks are incentives offered to backers in exchange for their
                  support. Make sure your perks are not <b>prohibited</b>.</b>
              </p>
              <div class="col-md-50 position-relative">
                <!-- <div class="col-md-40">
                                <label for="visibility" class="form-label hed">Visibility</label><label class="star hed">*</label><br>
                                <br>
                                <input type="radio" id="html" name="fav_language" value="HTML">
                                <label for="html"><b>Visible</b>. Available to claim</label><br>
                                <input type="radio" id="css" name="fav_language" value="CSS">
                                <label for="css"><b>Hidden</b>. Not available to claim</label><br>
                            </div> -->
                <br />
                <div class="col-md-50 position-relative">
                  <label class="hed" for="campaignTitle">Title</label><label class="star hed">*</label><br />

                  <small id="campaignhelp" class="form-text text-muted">The title for your perk is what will apear on
                    your campaign
                    page and throughout <b>OIKKO</b>. Create a title that best
                    aria-describe the contents of what this perk is offering.
                  </small>
                  <br />
                  <input type="text" class="form-control" name="perk_title" id="campaignTitle"
                    aria-describedby="campaignhelp" placeholder="" required />
                </div>

                <br />
                <div class="col-md-50 position-relative">
                  <label class="hed" for="campaignTitle">Description</label><label class="star hed">*</label><br />

                  <small id="campaignhelp" class="form-text text-muted">Describe the details of this perk. Be creative.
                    This is your
                    oppportunity to educate backers on what they will be receiving
                    after they claim this perk.</small>
                  <br />
                  <textarea name="perk_description" id="" cols="50" rows="6"></textarea>
                </div>
                <br />
                <div>
                  <label class="hed">Perk Image</label><label class="star hed">*</label><br />

                  <small id="CampaignArea" class="form-text text-muted">Receommended dimensions: 660x440 pixels. PNG or
                    JPG
                    supported.
                    <br />
                  </small>
                  <br />
                  <input type="file" id="picture" name="file3" accept="image/*" required />
                </div>
                <br />
                <div class="col-md-50 position-relative">
                  <label class="hed" for="campaignTitle">Price</label><label class="star hed">*</label><br />
                  <small id="campaignhelp" class="form-text text-muted">Set an amount of price you want to collect from
                    backers who
                    claim this perm. This amount should represent how much you
                    want to receive for all the items included this perk.</small>
                  <br />
                  <input type="number" name="perk_price" class="form-control" id="campaignTitle"
                    aria-describedby="campaignhelp" placeholder="Tk" required />
                </div>
                <br />
                <div class="col-md-50 position-relative">
                  <label class="hed" for="campaignTitle"> Retail Price</label><label class="star hed">*</label><br />
                  <input type="number" class="form-control" name="perk_retail_price" id="campaignTitle"
                    aria-describedby="campaignhelp" placeholder="Tk" />
                </div>

                <br />

                <div class="col-md-50 position-relative">
                  <label class="hed">Estimated Delivery Date</label><label class="star hed">*</label><br />

                  <small id="CampaignArea" class="form-text text-muted">Estimate a delivery date for this perk for your
                    backers.
                    <br />
                  </small>
                  <br />
                  <input type="date" id="birthday" name="perk_date" />
                </div>
                <br />

              </div>
              <br /><br />

              <p class="base">SOCIAL SHARING</p>
              <hr />
              <p>
                <b>Entice your audience to social media links and get additional
                  boost.</b>
              </p>
              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">Facebook URL</label>
                <input type="text" class="form-control" id="fb_url" name="fb_url"
                  placeholder="https://www.facebook.com/projectName" />
              </div>
              <br />
              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">Twitter URL</label>
                <input type="text" class="form-control" id="twitter_url" name="twitter_url"
                  placeholder="https://www.twitter.com/projectName" />
              </div>
              <br />
              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">YouTube URL</label>
                <input type="text" class="form-control" id="yt_url" name="yt_url"
                  placeholder="https://www.youtube.com/projectName" />
              </div>
              <br />

              <div class="col-md-50 position-relative">
                <label class="hed" for="campaignTitle">Website URL</label>
                <input type="text" class="form-control" id="website_url" name="website_url"
                  placeholder="https://www.projectName.com" />
              </div>
              <br />
              <br><br>

              <!-- /////////////////////////////////FUNDING//////////////////////////// -->

              <!-- /////////////////////////////////////VERIFY/////////////////////////// -->
              <h1 class="base">VERIFY</h1>
              <hr />
              <div>
                <label class="hed">Choose NID</label>
                <p class="pclass">NID Number and Face should be clear to view</p>
                <label for="picture" class="subhed">Font Side</label><label class="star hed">*</label><br />

                <small id="CampaignArea" class="form-text text-muted">Recommended dimensions: <b>660x460 pixels</b>.
                  <br />PNG or JPG
                  supported
                  <br />
                </small>
                <input type="file" id="picture" name="file4" accept="image/*" required />

                <br />
                <br />
                <label for="picture" class="subhed">Back Side</label><label class="star hed">*</label><br />

                <small id="CampaignArea" class="form-text text-muted">Recommended dimensions: <b>660x460 pixels</b>.
                  <br />PNG or JPG
                  supported
                  <br />
                </small>
                <input type="file" id="picture" name="file5" accept="image/*" required />
                <!-- <button class="btn btn-primary  col-md-4" type="submit" >Upload NID</button> -->
              </div>

              <div>
                <br />
                <br />
                <label class="hed">Choose Passport</label><label class="star hed">*</label><br />

                <p class="pclass">
                  Passport Number and Passport Expiry Date should be clear
                </p>
                <!-- <label for="picture" class="subhed" >Font Side</label><label class="star hed">*</label><br> -->

                <small id="CampaignArea" class="form-text text-muted">Recommended dimensions: <b>660x460 pixels</b>.
                  <br />PNG or JPG
                  supported
                  <br />
                </small>
                <input type="file" id="picture" name="file6" accept="image/*" required />
                <br />
                <br />
              </div>

              <br />
              <div>
                <button class="btn btn-primary col-md-10" type="submit">
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <%- include('footer.ejs') %>
  </body>

</html>