@import 'home.css';

.paybcontainer{
    margin-top: 90px;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
  }
.paybtn {
    padding: 10px 10px;
    background: #0c2f39; 
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 20px;
    
}
.dangerbtn {
    padding: 10px 10px;
    background: #fd0202; 
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 20px;
    
}
.dangerbtn a{
    color: #fff;
    text-decoration: none;

}



.popup{
    /* width: auto; */
    /* height: auto; */
    margin-top: 30px;
    background-color: rgb(71, 174, 176);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #000000;
    box-shadow: #000000;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.10); */
}

.popup h3{
    font-size: 33px;
    font-weight: bold;
    margin: 30px 0 10px;
    color: rgb(6, 55, 107);

}

.inputts{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.popup button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #031530;
    color: #fff;
    border-radius: 4px;
    border: 0;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.10);
}

.bolded{
    font-size: large;
    font-weight: bold;
}