@import 'home.css';

.notifcontainer{
  margin-top: 90px;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
}

body{
  background: #dfe9f5;
}

.notifnav{
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  height: 250vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: none;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
}

.unapproved-dropdown-menu li {
position: relative;
display: block;
}

/* .navDisplay{
  position: fixed;
} */

.prof{
  margin-left:20px;
}
.notiflogo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.notiflogo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 60px;
}

.notiflogo>span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.notifa{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: block;
  width: auto;
  padding: 10px;
  text-decoration: none;
}

.notifnav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: left;
}

.notifnav-item{
  position: relative;
  top: 12px;
  margin-left:-45px;

}

/* .notifa:hover{
  background: #eee;
} */
.notifnav  ul li{
  list-style-type: none;
  margin-left:0px; /* Adjust the margin to add space between list items */
  color: rgb(0, 0, 0);
}

.notifnav ul {
  list-style: none;
  display: flex;
  flex-direction: column; /* Change to a vertical layout */
}

.logout{
  position: absolute;
  bottom: 0;
}
 .profile-card {
  width: 500px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}




.profile-card button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.campaigns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 340px;
   
    padding: 3px 8px 3px 8px; 
}


.card img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.card-title {
    /* font-weight: bold; */
}

.campaign-info {
    flex-grow: 1; /* This allows it to take up available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertically space title and tagline */
}

.card-img-container {
    flex: 1; /* Allow the image to grow or shrink within the available space */
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}

.card-actions {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Increased space between tagline and button */
}
.card button {
     /* Increased margin above the button */
}

/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  align-items: space-between;
  justify-items: center;
}
.main-skills .card{
  width: 45%;
  margin: 10px;
  background: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  display: flex;

}
.main-skills-h3{
  margin: 10px;
  font-size: 22px;
  text-align: lcenter;
  color: rgb(15, 49, 100);
}

.main-skills-Heda5{
  font-size: 22px;
  text-align: center;
  color: #197d9f;
  margin: 10px;
  font-weight:700;

}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

/* Courses */

.course {
  display: flex;
  justify-content: space-between;
}



.main-course{
  margin-top:20px ;
  /* text-transform: capitalize; */
}
.course-box{
  width: 100%;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: (125, 125, 125)0px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
  list-style: none;
  display: flex;
}
.course-box ul li{
  margin: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course{
  display: flex;
}
.box{
  width: 100%;
  /* width: 33%; */
  padding: 10px;
  margin: 60px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p{
  font-size: 12px;
  margin-top: 5px;
}
.box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.box button:hover{
  background: rgba(25, 25, 25, 0.851);
}
.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}


/* Notification................................................... */



.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    .activity .activity-data{
        overflow-X: scroll;
    }
}

.boldName{
    font-size: 30px;
    color: #1d7fb7;
}

.dashss{
    color: red;
}
.rightalign{
  text-align: right;
} 

.expand{
  width: 1200px;
}

.fixSize{
  height: 600px;
}

.boldforName{
  font-weight: bold;
  color: #005571;
}

.progress{
  height: 25px; width: 300px; margin: auto;
  
  border: 1px solid #565756;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #a4a4a4;
  z-index: 9;
   border-radius: 15px;
}
/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 20px;
  background-color: white;
    border: 1px solid #a4a4a4;
     border-radius: 15px;
  
}


/* Set a style for the submit/login button */
/* .form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
/*.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}  */

.reporter-name{
  text-decoration: none;
  color: #000;
}

.report-btn{
  text-decoration: none;
  color: #fff;
}

.docButton{
  margin-left: 4%;
  margin-right: 40%;
  width: 100%;
  height: 90%;
  font-weight: bold;
  background-color: #000;
  color: white;
  /* border: 2px solid; */

}

.docButton:hover{
  background-color: rgb(255, 0, 0);
  color: black;
}
